@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  min-height: 100vh;
  background-color: theme('colors.slate.50');
  color: theme('colors.slate.900');
}

a {
  @apply text-primary-500 underline-offset-4 hover:underline;
}
